<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tuition Fees Details</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f7f7f7;
            margin: 0;
            padding: 20px;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
        }

        h1, h2, h3 {
            color: #333;
            text-align: center;
            margin-top: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ccc;
            padding: 12px;
        }

        th {
            background-color: #3e64ff;
            color: #fff;
        }

        .td {
          text-align: center;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #ddd;
        }

        .total {
            font-weight: bold;
        }

        .status-paid {
            color: green;
        }

        .status-pending {
            color: orange;
        }

        .status-due {
            color: red;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>SSM COLLEGE OF ENGINEERING</h1>
        <h2>Department Of MCA - I</h2>
        <h3>Exam Fees Details</h3>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Total Fee</th>
                    <th>Pending Fee</th>
                    <th>Payment Status</th>
                </tr>
            </thead>
            <tbody>
                {{#each firstYearStudents}}
                <tr>
                    <td>{{name}}</td>
                    <td class="td">Rs.{{examTotalFee}}</td>
                    <td class="td">Rs.{{examPendingFee}}</td>
                    <td class="td">{{examPaymentStatus}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</body>
</html>
