<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" href="https://i.postimg.cc/x1RfJjWH/user-1.png">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 300px;
        }

        label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
        }

        input {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
        }

        h1 {
            text-align: center;
            color: #3d6ef5ff;
        }

        {{!-- a {
            display: block;
            text-align: center;
            font-weight: bold;
            margin-top: 10px;
            text-decoration: none;
            color: #472ddb;
        } --}}

        a:hover {
            color: #1459da;
        }

        p {
            text-align: center;
            margin-top: 10px;
            text-decoration: none;
            color: #333;
        }
        .btn{
            padding: 8px 15px;
            color: #f2f2f2;
            width: 100%;
            border: 2px solid #3d6ef5ff;
            background: #3d6ef5ff;
            font-weight: bold;
            font-size: 15px;
            font-weight: bold;
            border-radius: 5px;
            cursor: pointer;
            transition: .4s;
        }
        .btn:hover{
            background: #f2f2f2;
            font-weight: bold;
            font-size: 15px;
            color: #3d6ef5ff;
        }
        .showPassCode{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin: 5px 0px;
        }
        #showPassword{
            width: min-content;
        }
        .box {
            margin-right: 10px;
        }
        .txt {
            margin-bottom: 12px;
            font-size: 14px;
            color: #1459da;

        }
        .signup-link {
            margin-top: 20px;
            font-size: 0.9rem;
            justify-content: center;
        }
        a {
            color: #3d6ef5ff;
            text-decoration: none;
            font-weight: bold;
        }
        .home {
            text-align: center;
            margin-top: 10px;
        }
    </style>
</head>
<body>

    <form action="/ssm/mca/login" method="post">
        <h1>Login</h1>
        <label for="email">Email :</label>
        <input type="email" id="email" name="email" autocomplete="off" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" aria-label="Password" required>

        <div class="showPassCode">
            <input class="box" type="checkbox" id="showPassword" name="showPassword">
            <label class="txt" for="showPassword"> Show Password</label>
        </div>

        <button type="submit" class="btn">Login</button>

        {{!-- <p>Don't have an Account? <a href="/ssm/mca/signup">Sign up</a></p> --}}
        <div class="signup-link">
            Don't have an account? <a href="/ssm/mca/signup">Sign up</a>
        </div>
        <br>
        <div class="home">
        <a  href="/">Home</a>
        </div>
    </form>
    <script>
        const showPasswordCheckbox = document.getElementById('showPassword');
        const passwordField = document.getElementById('password');

        showPasswordCheckbox.addEventListener('change', function() {
            const passwordFieldType = this.checked ? 'text' : 'password';
            passwordField.type = passwordFieldType;          
        });
    </script>
</body>
</html>
