
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="icon" href="https://i.postimg.cc/VvbTw5Wt/add-friend.png">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 300px;
        }

        label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
        }

        input, select {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
        }

        .btn {
            padding: 8px 0;
            color: #fff;
            width: 100%;
            border: 2px solid #3d6ef5ff;
            background: #3d6ef5ff;
            font-weight: bold;
            font-size: 15px;
            border-radius: 5px;
            cursor: pointer;
            transition: .4s;
        }

        .btn:hover {
            background: #f2f2f2;
            color: #3d6ef5ff;
        }

        h1 {
            text-align: center;
            color: #3d6ef5ff;
        }

        a {
            display: block;
            text-align: center;
            font-weight: bold;
            margin-top: 10px;
            text-decoration: none;
            color: #472ddb;
            font-size: 15px;
        }

        a:hover {
            color: #1459da;
        }

        p {
            text-align: center;
            margin-top: 10px;
            text-decoration: none;
            color: #333;
            font-size: 15px;
        }
        .showPassCode{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin-top: 2px 5px;
        }
        #showPassword{
            width: min-content;
        }
        .box {
            margin-right: 10px;
        }
        .txt {
            margin-bottom: 12px;
            font-size: 14px;
            color: #1459da;

        }

    </style>
</head>
<body>

    <form action="/ssm/mca/signup" method="post">
        <h1>Sign Up</h1>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="" autocomplete="off" required oninput="this.value = this.value.replace(/[^a-zA-Z]/g, '')">

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" onblur="this.setAttribute('readonly', 'true');" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" aria-label="Password" aria-label="Password" autocomplete="new-password" readonly onfocus="this.removeAttribute('readonly');" onblur="this.setAttribute('readonly', 'true');" required>

        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" aria-label="confirmPassword" autocomplete="off" required>

        <div class="showPassCode">
            <input class="box" type="checkbox" id="showPassword" name="showPassword">
            <label class="txt" for="showPassword"> Show Password</label>
        </div>

        <button type="submit" id="signupButton" class="btn">Sign Up</button>

        <p>Already have an account? <a href="/ssm/mca/login">Login</a></p>
    </form>

    <script>
    const showPasswordCheckbox = document.getElementById('showPassword');
    const passwordField = document.getElementById('password');
    const confirmPasswordField = document.getElementById('confirmPassword');

    showPasswordCheckbox.addEventListener('change', function() {
        const passwordFieldType = this.checked ? 'text' : 'password';
        passwordField.type = passwordFieldType;
        confirmPasswordField.type = passwordFieldType;
    });
</script>

</body>
</html>
